---
layout: default
title: Categories
permalink: /categories/
---

<div class="categories">

  <header class="post-header">
    <h1 class="post-title">Categories</h1>
  </header>

  {% assign categories = site.categories | sort %}
  {% for category in categories %}

    {% assign categoryName = category[0] %}
    {% assign categoryPostsNumber = category[1] | size %}
    <h2><a class="post-tag-link" href="{{ site.baseurl }}{{ categoryName }}">{{ categoryName }} - {{ categoryPostsNumber }}</a></h2>
    
    <ul class="post-list">
      {% assign sortedPosts = category[1] | reversed %}
      {% for post in sortedPosts %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span> - {{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
  