---
--- 
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-color:      #32F099;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$palette-bg: #212123;
$palette-header-bg: #242426;
$palette-main: #F06B56;
$palette-light: #32F099;
$palette-highlight: #F0AE26;
$palette-text: #e1e1e1;

$palette-0: #4A88F0;
$palette-1: #F0AE26;
$palette-2: #32F099;
$palette-3: #F06B56;
$palette-4: #3FDEF0;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
		"layout"
;
